/build/
/build-*/
/out/
/CMakeUserPresets.json
/*.log
/*.dmg
/*.app/
/*.sha256
/_CPack_Packages/
/.cache/
/.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.pdb
*.ilk
*.dSYM/
/MiniStream-*.exe
/MiniStream-*.sha256
